body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container1 {
  background-color: #ffe0f7;
  border: solid 10px;
  border-color: purple;
  height: 185px;
  width: 230px;
  margin-left: 20px;
}

.top-container2 {
  background-color: #e84a5f;
  border: solid 10px;
  border-color: #ddf3f5;
  height: 185px;
  width: 230px;
  margin-left: 803px;
}

.middle-container1 {
  background-color: #fe91ca;
  border: solid 20px;
  border-color: #f6def6;
  width: 230px;
  height: 185px;
  margin-left: 270px;
}
.middle-container2 {
  background-color: #ff847c;
  border: solid 20px;
  border-color: #ffa931;
  width: 230px;
  height: 185px;
  margin-left: 265px;
}

.bottom-container {
  background-color: #feceab;
  border: solid 20px;
  border-color: #f9d56e;
  width: 230px;
  height: 185px;
margin-left: 542px;
}
